@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
}

body {
    background: gray url(../imagens/fundo-madeira.jpg) no-repeat;
    background-size: cover;
    height: 100vh;
}

div {
    text-align: center;
    margin-top: 75px;
}

div.ecran {
    position: absolute;
    left: 585px;
    top: 78px;
}

iframe.iframe {
    height: 470px;
    width: 270px;
}

nav {
    position: absolute;
    left: 1350px;
    top: 10px;
}

ul{
    list-style-type: none;
}

ul > li> a > img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    padding: 8px;
}





